<header class="shadow-sm">
   <div class="border-bottom p-3 d-none mobile-nav">
      <div class="title d-flex align-items-center">
         <a href="/" class="text-decoration-none text-dark d-flex align-items-center">
            <img class="mr-2" src="/static/img/logo.png" width="120">
         </a>
         <p class="ml-auto m-0" style="font-size: 16px;">
            <a href="/login" class="text-decoration-none text-dark mr-2">
               Login
            </a>
            <a href="/signup" class="text-decoration-none text-dark">
               Signup
            </a>
         </p>
      </div>
   </div>
   <!-- Dark mode -->
   <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox">
         <input type="checkbox" id="checkbox" />
         <div class="slider round"></div>
         <i class="icofont-moon"></i>
      </label>
      <em>Enable Dark Mode!</em>
   </div>
   <!-- End Dark mode -->
   <!-- Nav bar -->
   <div class="border-bottom bg-white shadow-sm osahan-main-nav">
      <nav class="navbar navbar-expand-lg navbar-light bg-white osahan-header py-0 container">
         <a class="navbar-brand mr-0" href="/">
            <div
               style="background: url('/static/img/logo.png') no-repeat center; background-size: contain; width: 180px; height: 60px;">
            </div>
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <!-- 헤더 메뉴 중간 -->
         <div class="ml-3 d-flex align-items-center">
         </div>

         <!-- 헤더 메뉴 오른쪽 끝 -->
         <div class="ml-auto d-flex align-items-center" style="font-size: 1rem;">
            {% if request.user.is_authenticated %}
            <a href="/profile" class="mr-4 text-dark">
               {{ user.first_name }} 님 반갑습니다.
            </a>
            <a href="/purchase/history" class="mr-4 text-dark">
               결제기록
            </a>
            <a href="/logout" class="mr-2 text-dark">
               로그아웃
            </a>
            {% else %}
            <!-- login/signup -->
            <a href="/login" class="mr-4 text-dark">
               Login
            </a>
            <a href="/signup" class="mr-2 text-dark">
               Signup
            </a>
            {% endif %}

         </div>
      </nav>
   </div>
   <!-- bread_cum -->
   <nav aria-label="breadcrumb" class="breadcrumb mb-0 d-none">
      <div class="container">
         <ol class="d-flex align-items-center mb-0 p-0">
            <li class="breadcrumb-item"><a href="/" class="text-success">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
         </ol>
      </div>
   </nav>
</header>