<div class="cart-items bg-white position-relative border-bottom">

   <!-- 할인 뱃지 
   <span class="position-absolute">
      <span class="badge badge-danger m-3">10%</span>
   </span>-->

   <div class="d-flex p-3">

      <!-- 이미지 -->
      <img src="{{item.image}}" width="240" class="rounded shadow-sm">

      <!-- 정보 -->
      <div class="osahan-cart-item-des d-flex w-100 ml-3">
         <div class="flex-fill">

            <!-- 상품 이름 -->
            <h5 class="mb-1">
               {{item.name}}
            </h5>

            <!-- 상품 설명 -->
            <div id="itemDescriptionViewer"></div>
            <script>
               const itemDescriptionViewer = new toastui.Editor.factory({
                  el: document.querySelector('#itemDescriptionViewer'),
                  viewer: true,
                  height: '200px',
                  initialValue: `{{ item.description|safe }}`,
               });
            </script>

            <!-- 상품 가격 -->
            <div class="text-right">
               <p class="m-0 text-success" style="font-size: 20px;">
                  from $ {{item.price}}
               </p>
               <a href="/purchase/request?item_id={{item.id}}" class="btn btn-primary btn-sm mt-2">
                  <i class="fi fi-rr-calendar-day"></i> Book Now
               </a>
            </div>

         </div>
      </div>
   </div>
</div>