<div class="modal" tabindex="-1" id="bookModal{{item.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">The Franklin London – Starhotels Collezione</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- 상품 이름 -->
        <h6 class="mb-1">Executive Suite (Suite Temptation)</h6>

        <!-- 상품 설명 -->
        <p class="text-muted mt-2">
          【조기 할인 60】오쿠라 베스트 레이트로부터 최대 15%OFF! (실료만)<br>
          <br>
          IN 15:00～29:00<br>
          OUT 12:00
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>