<div class="rounded shadow p-4 mb-4">
   <div style="display: flex; justify-content:left;">
      <div style="display: inline-block; text-align: left;">

         {% if review.image %}
         <div
            style="background-image: url('{{review.image}}'); background-size: cover; background-position: center; width: 200px; height: 200px; border-radius: 10px;">
         </div>
         {% endif %}

      </div>
      <div style="display: inline-block; text-align: left;">

         <!-- 리뷰 내용 -->
         <div class="pl-4 ml-4 border-left">

            <!-- 리뷰 작성자 -->
            <span class="h6">
               {{review.author_name}}
            </span>

            <p>
               <!-- 평점 -->
               <span class="h6">
                  {{review.rate}}
               </span>
               <span>
                  {% if place.avg_rate > 0 %}
                  <i class="fi fi-ss-star text-warning"></i>
                  {% else %}
                  <i class="fi fi-rs-star text-secondary"></i>
                  {% endif %}
                  {% if place.avg_rate > 1 %}
                  <i class="fi fi-ss-star text-warning"></i>
                  {% else %}
                  <i class="fi fi-rs-star text-secondary"></i>
                  {% endif %}
                  {% if place.avg_rate > 2 %}
                  <i class="fi fi-ss-star text-warning"></i>
                  {% else %}
                  <i class="fi fi-rs-star text-secondary"></i>
                  {% endif %}
                  {% if place.avg_rate > 3 %}
                  <i class="fi fi-ss-star text-warning"></i>
                  {% else %}
                  <i class="fi fi-rs-star text-secondary"></i>
                  {% endif %}
                  {% if place.avg_rate > 4 %}
                  <i class="fi fi-ss-star text-warning"></i>
                  {% else %}
                  <i class="fi fi-rs-star text-secondary"></i>
                  {% endif %}
               </span>
            </p>

            <!-- 리뷰 내용 -->
            <p>
               {{review.content}}
            </p>

            <!-- 작성일 -->
            <p class="text-muted small">
               {{review.created_at}}
            </p>

         </div>

      </div>
   </div>

</div>