<div class="rounded shadow p-4 mb-4">
   <div style="display: flex; justify-content:left;">
      <div style="display: inline-block; text-align: left;">

         <!-- 리뷰 작성자 -->
         <span class="h6">
            리뷰 작성자
         </span>

      </div>
      <div style="display: inline-block; text-align: left;">

         <!-- 리뷰 내용 -->
         <div class="pl-4 ml-4 border-left">

            <!-- 평점 -->
            <p>
               <span class="h6">
                  0.0
               </span>
               <span class="text-success" style="font-size: 14px;">
                  <i class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i><i
                     class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i>
               </span>
            </p>

            <!-- 리뷰 내용 -->
            <p>
               일본 최초 상륙, 그리고 국내에서는 오쿠라만의 전개가 되는, 프랑스의 브랜드 「ANNAYAKE」(아나야케)를 사용. 남녀・연령을 불문하
            </p>

            <!-- 작성일 -->
            <p class="text-muted small">
               <span>2021-09-01</span>
            </p>

         </div>

      </div>
   </div>

</div>