{% extends 'base/base.html' %}
{% block content %}

<!-- 헤더 -->
{% include 'parts/header.html' %}

<!-- 메인 -->
<main>

   <!-- 이벤트 캐로셀 -->
   <section>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="w-100"
                  style="height: 300px; background: url('/static/img/samples/0.jpg') no-repeat center center; background-size: cover;">
               </div>
            </div>
            <div class="carousel-item">
               <div class="w-100"
                  style="height: 300px; background: url('/static/img/samples/1.jpg') no-repeat center center; background-size: cover;">
               </div>
            </div>
            <div class="carousel-item">
               <div class="w-100"
                  style="height: 300px; background: url('/static/img/samples/2.jpg') no-repeat center center; background-size: cover;">
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
   </section>

   <!-- 검색 카드 -->
   <section class="text-center">
      <div class="container rounded border shadow p-3 pb-4 bg-white"
         style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -100%);">
         <p class="text-left" style="margin: 0px; margin-left: 22px; font-size: 14px;">
            What do you looking for?
         </p>
         <div class="form-group position-relative w-100 p-4 py-0 my-0" style="display: inline-block;">
            <input class="form-control p-4 pe-6 my-0 py-0"
               style="font-size: 14px; background: transparent; border: 1px solid grey;" placeholder="Please enter a keyword"
               value="{{ request.GET.search }}" id="searchInput">
            <a href="javascript: search();" class="position-absolute text-black-50"
               style="right: 15px; top: 50%; transform: translate(-150%, -50%); font-size: 20px;">
               <i class="fi fi-rr-search"></i>
            </a>
         </div>
         <div class="text-left" style="margin-left: 44px;">
            <span class="mr-5">
               <input type="checkbox" class="form-check-input" id="exampleCheck1">
               <label class="form-check-label" for="exampleCheck1">Hotel</label>
            </span>
            <span class="mr-5">
               <input type="checkbox" class="form-check-input" id="exampleCheck2">
               <label class="form-check-label" for="exampleCheck2">Business Hotel</label>
            </span>
            <span class="mr-5">
               <input type="checkbox" class="form-check-input" id="exampleCheck3">
               <label class="form-check-label" for="exampleCheck3">Breakfast Available</label>
            </span>
            <span class="mr-5">
               <input type="checkbox" class="form-check-input" id="exampleCheck4">
               <label class="form-check-label" for="exampleCheck4">Non-smoking</label>
            </span>
         </div>
      </div>


   </section>

   <!-- 검색 결과 -->
   <section style="margin-top: 200px;">
      <div class="osahan-recommend container">
         <div class="row">
            {% for place in places %}
            {% include 'parts/place_card.html' %}
            {% endfor %}
         </div>
      </div>
   </section>

</main>

<!-- 푸터 -->
{% include 'parts/footer.html' %}

{% endblock %}