{% extends 'base/base.html' %}
{% block content %}

{% load widget_tweaks %}

<!-- 메인 -->
<main class="flex-grow-1">
    <div class="bg-image">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <!-- login box -->
                    <div class="login-box p-4">

                        <!-- 폼 타이틀 -->
                        <a href="javascript: history.back();" class="text-secondary">
                            <i class="fi fi-rr-angle-left"></i> goBack
                        </a>
                        <div class="text-center">
                            <h4 class="mt-4 mb-5">
                                Login
                            </h4>
                        </div>

                        <!-- Django login Form -->
                        <form method="post" action="">
                            {% csrf_token %}

                            <!-- 폼 전체 에러(비밀번호 불일치 등) 표시 -->
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                <div>{{ error }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <!-- 회원가입 성공 표시 -->
                            {% if signup_success == True %}
                            <div class="alert alert-success">
                                <div>
                                    You have successfully signed up! Please log in again.
                                </div>
                            </div>
                            {% endif %}

                            <!-- 비밀번호 변경 성공 표시 -->
                            {% if password_reset_success == True %}
                            <div class="alert alert-success">
                                <div>
                                    Your password has been successfully changed! Please log in again.
                                </div>
                            </div>
                            {% endif %}

                            <!-- 이메일(username) 필드 -->
                            <div class="form-group">
                                <label for="username">Your Email</label>
                                {% render_field form.username class="form-control" placeholder="Enter your email" %}

                                <!-- 개별 에러 -->
                                {% if form.username.errors %}
                                <small class="text-danger">
                                    {% for error in form.username.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </small>
                                {% endif %}
                            </div>

                            <!-- 비밀번호(password) 필드 -->
                            <div class="form-group">
                                <label for="password">Password</label>
                                {% render_field form.password class="form-control" placeholder="Enter your password" %}

                                <!-- 개별 에러 -->
                                {% if form.password.errors %}
                                <small class="text-danger">
                                    {% for error in form.password.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </small>
                                {% endif %}
                            </div>

                            <!-- 계정 찾기 버튼 -->
                            <div class="text-right mt-4 mb-2">
                                <a href="{% url 'user_find' %}">
                                    forgot your password?
                                </a>
                            </div>

                            <!-- 로그인 버튼 -->
                            <button type="submit" class="btn btn-primary btn-block">
                                Login
                            </button>
                        </form>
                        <!-- Django login Form end -->

                        <!-- 회원가입 버튼 -->
                        <div class="text-center mt-3 small">
                            Have no account yet? <a href="{% url 'user_signup' %}">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login box end -->
</main>

{% endblock %}