{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}

<!-- 헤더 -->
{% include 'parts/header.html' %}

<main>

  <!-- 페이지 제목 -->
  <section class="container mt-5">
    <h5>
      Profile
    </h5>
    <a href="javascript: history.back();" class="text-secondary">
      <i class="fi fi-rr-angle-left"></i> goBack
    </a>
  </section>

  <!-- 프로필 정보 -->
  <section class="container my-5">
    <div class="row">
      {% include 'profile/nav.html' %}

      {% if password_reset_page %}
        {% include 'profile/password_reset.html' %}
      {% elif deactivate_page %}
        {% include 'profile/deactivate.html' %}
      {% else %}
        {% include 'profile/change.html' %}
      {% endif %}

    </div>
  </section>

  <!-- 스크립트 -->
  <script>

    window.onload = () => {

      const tab = '{{request.GET.tab}}';
      console.log(tab);
      if (tab == 'change_password') {
        document.getElementById('change_password').classList.remove('d-none');
      } else {
        document.getElementById('edit_profile').classList.remove('d-none');
      }
    }

  </script>

</main>

{% endblock %}